<div>
  <main>
    <div class="top-bar-container">
      <i class="search-icon"></i>
      <input class="search-cars-input" placeholder="Search by body type" [(ngModel)]="filter" />
    </div>
    <div class="cars-container">
      <app-car-box *ngFor="let car of filteredCars" [car]="car"></app-car-box>
    </div>
    <div class="cars-container" *ngIf="!isMobile; else listPositionPoints">
      <div class="cars-container-buttons-spacer"></div>
      <div class="cars-container-buttons-spacer"></div>
      <div class="cars-container-buttons-spacer"></div>
      <div class="cars-container-buttons">
        <i class="reverse-chevron-icon" (click)="previousCar()" [ngClass]="{'disabled': isPreviousButtonDisabled}"></i>
        <i class="chevron-icon" (click)="nextCar()" [ngClass]="{'disabled': isNextButtonDisabled}"></i>
      </div>
    </div>
    <ng-template #listPositionPoints>
      <div class="list-position-points-container">
        <div *ngFor="let car of filteredCars" class="list-position-points"></div>
      </div>
    </ng-template>
  </main>
</div>